/*Reset CSS*/
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(214, 214, 214);
  position: sticky;
  top: 0px;
  font-size: small;
}

/*suppression points en tete de ligne*/
nav ul {
  list-style-type: none;
  width: 100%;
}

ul li {
  float: left;
  width: 16%;
  text-align: center;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: rgb(148, 148, 148);
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav > ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant > a::after {
  content: " ▼";
  font-size: 12px;
}

.classTable {
  width: 100%;
}

#tableMenu {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
}

#trMenu {
  vertical-align: top;
}

#tdLogo {
  width: 8%;
  border: 2px solid rgb(190, 190, 190);
}

#imgLogo {
  width: 85px;
  height: 83px;
}

.tdFooter {
  width: 33%;
  vertical-align: top;
}

.imgFooter {
  width: 36px;
  height: 36px;
}

.objFooter {
  width: 100%;
  height: 63px;
}

.divFooter {
  padding: 5px;
  margin: 5px;
  border: 2px solid rgb(200, 200, 200);
  text-align: left;
  vertical-align: top;
  display: inline;
}

.objMenu {
  width: 100%;
}

#tableContact {
  border: 2px solid rgb(200, 200, 200);
}

#tdContactInfo {
  width: 40%;
  /* text-align: center; */
  vertical-align: top;
}

#tdContactMap {
  width: 60%;
  vertical-align: top;
}

.pInfoContact {
  /* width: 95%; */
  /* height: 95%; */
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(200, 200, 200);
  text-align: justify;
}
