/*
* Reset CSS
* Logo
* Nav
* Content
* p.Index
* floating box
* flex
* p.Realisation
*/

/* --------------------------------------------	Reset CSS */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/* --------------------------------------------	Logo */

#tdLogo{
	width:5%;
	text-align:center;
	/* background-color: rgb(214, 214, 214); */
}

#imgLogo{
	width:100px;
	height:120px;
	padding: 16px 5px 0px 5px;
	margin: 16px 5px 0px 5px;
	/* border: 2px solid red; */ /*for debug*/
}

/* --------------------------------------------	Nav */

nav{
    background-color: rgb(214, 214, 214);
	font-size:small;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 5px 0px;
	/* border: 2px solid red; */ /*for debug*/
}

/*suppression points en tete de ligne*/
nav ul{
    list-style-type: none;
	width: 100%;
}

 ul li{
	float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 5px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgb(148, 148, 148);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

/* --------------------------------------------	Content */

body {
  /* width: 90%; */
  /* max-width: 900px; */
  /* margin: 0 auto; */
  font:
    0.9em/1.2 Arial,
    Helvetica,
    sans-serif;
}

.classTable {
	width: 100%;
	border-collapse: collapse;
	/* margin:5px 0px 0px 0px; */
}

.box{
	padding: 5px;
	margin: 5px;
	border: 2px solid rgb(200,200,200);
}

.classBboxDebug{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 2px solid red;
}

#IdBoxDebug{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px; 
	border: 2px solid red;
}
	
.boxMarginOnly{ 
	padding: 0px;
	margin: 5px;
	border: 0px solid rgb(200,200,200);
}

.boxBorderOnly{
	border: 1px solid green;
}

.boxNoBorder{
	padding: 5px;
	margin: 5px;
}

.text_align_justify{
	text-align:justify;
}

.text_align_right{
	text-align:right;
}

.text_align_left{
	text-align:left;
}

.text_align_center {
	text-align:center;
}

.text_align_right{
	text-align:right;
}

.vertical_align_top{
	vertical-align: top;
}

.tdW33{
	width:33%;
}

.tdW50{
	width:50%;
}

#spanBienvenu {
	background: red;
	border: 1px solid black;
}

.backgroundWhite {
	background: white;
}

.displayInline{
	display:inline;
}
	
/* --------------------------------------------	p.Index */

#imgIndexGrande{
	max-width: 100%;
	height: auto;
}

.objFooter{
	width:100%;
	height:63px;
}

.button-overlay{
  position: relative;
  display: inline-block;
}

/* .button-overlay button{ */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 90%; */
  /* transform: translate(-50%, -50%); */
  /* padding: 15px 30px; */
  /* /* background-color: #FFA500; */ */
  /* background-color: transparent; */
  /* color:#000000; */
  /* border-radius: 55px; */
  /* font-size: 2.5em; */
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
/* } */
/* .button-overlay button:hover{ */
  /* background-color: rgb(148, 148, 148); */
/* } */

/* --------------------------------------------	 floating box  */

#boxSpecial{
}

.boxFloating{
	float: left;
	padding: 1em;
	margin: 10px 10px 5px 20px;
	border: 2px solid rgb(200,200,200);
	width: 210px;
	height: 350px;
	border-radius: 5px;
	background: url(mockups/result_pexels-harry-cooke-6195012.jpg) center;
}

/* --------------------------------------------	 flex  */

.pArticle{
	padding: 5px 0px 0px 0px;
	color: #333; /* Couleur du texte */
	/* font-family: Arial, sans-serif; /* Police de caractères */ */
	/* font-size: 18px; /* Taille du texte */ */
	line-height: 1.5; /* Hauteur de ligne */
	text-align: justify; /* Alignement du texte (gauche, centre, droite, justifié) */
	/* margin-bottom: 20px; /* Marge sous le paragraphe */ */
}

section{
	display: flex;
	flex-direction: row;
}

sectionAmenagementJardin{
	display: flex;
	flex-direction: row;
}

article{
	flex: 1;
	padding: 10px;
	margin: 10px;
	/* background: aqua; */
	flex-grow:3; 
}

#boxArticle1{
	padding: 5px 0px 5px 0px ;
	margin: 5px 5px 5px 0px ;
	border: 2px solid rgb(200,200,200);
}

#conteneur_jardin_espaces_verts_EntretienJardin{
	display: flex ;
	padding:5px;
	margin:5px;
	/* border:2px solid red; */
	gap: 5px;	/*pour espacer les éléments*/
	/* height: 100vh; */
	flex-direction: row;
	/* flex-wrap: wrap; /*les éléments se retrouvent à la ligne quand il n'y a plus de place sur la ligne actuelle*/ */ */
	/* flex-flow: row wrap; */
}

.enfant_jardin_espaces_verts_EntretienJardin {
	background-color: white;
	padding: 20px;
	border-radius: 50px;
	border:2px solid rgb(200,200,200);
	align-items:stretch;
}

#conteneur_amenagement_exterieur{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
}

.enfant_amenagement_exterieur {
	padding: 5px ;
	margin: 5px ;
	border:2px solid red;
	flex-basis:auto;
}

.pEnfant_amenagement_exterieur{
	padding: 5px 0px 5px 0px ;
	margin: 5px 0px 5px 0px ;
	text-align:justify;
}

/* --------------------------------------------	 p.Realisation  */

.conteneur_realisation {
	list-style: none; /*suppression point en-tête de la list*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* padding: 5px; */
	margin: 5px;
	border: 2px solid rgb(200,200,200);
}

.enfant_realisation {
	text-align: center;
	width: 100%;
	height: auto;
	margin: 1%;
	position: relative;
	background-repeat: no-repeat;	/*ça définit la façon dont les images utilisées en arrière-plan sont répétées. */
	background-position: center center;
	background-size: contain;	/*ça définit la taille des images d'arrière-plan pour l'élément.*/
	box-shadow: #666 2px 2px 4px;
}

@media (min-width: 530px) {
	.enfant_realisation {
		width: 48%;
	}
}

@media (min-width: 860px) {
	.enfant_realisation {
		width: 31.333%;
	}
}

.enfant_realisation_lien {
	display: block; /* pour que le lien prenne la taille de l'item */
	width: 100%;
	height: 100%;
}

.enfant_realisation_lien:link,
.enfant_realisation_lien:visited {
	color: #ccc;
	transition: all .5s ease;
}

.enfant_realisation_lien:hover,
.enfant_realisation_lien:active {
	color: #fff; /* effet de changement de couleur du texte du lien au survol */
	filter: brightness(1.3); /* effet d'éclaircissement du lien au survol */
}

.enfant_realisation_bloc {
	position: absolute;
	width: 100%;
	bottom: 0px;
	text-align: left;
	padding: 10px;
	transition: all .3s ease-out;
	background: rgba(100, 100, 100, 0.4); /* semi-transparence de la couleur d'arrière-plan */
}

.enfant_realisation_lien:hover .enfant_realisation_bloc {
	transform: translate(0,-30%); /* déplacement vertical du bloc titre au survol du lien */
}

.enfant_realisation_bloc_titre {
	font-size: 1.1rem;
}

.enfant_realisation_bloc_desc {
	font-size: .8rem;
}

.enfant_realisation_bloc_img {
	width: 100%;
	vertical-align: bottom;
}
